#message-list-container,
#message-pane {
  box-sizing: border-box;
  float: left;
  height: 100%;
  overflow-y: auto;
}
#message-pane {
  border-left: 1px solid #ddd;
}
#message-table {
  width: 100%;
  border-width: 1px 0;
}

#content {
  width: 100%;
  height: 100%;
  position: fixed;
}

#no-message {
  margin: 50% auto;
  display: block;
  width: 200px;
}

#inbox-actions {
  margin-top: 20px;
  margin-left: 20px;
}

#status-text {
  position: fixed;
  right: 0;
  bottom: 0;
  background: #333;
  color: white;
  padding: .2em .5em;
  font-size: 11px;
}

.info-line {
  border-bottom: 1px solid #777;
  padding: .5em 20px;
}

.subject-header {
  margin-left: 20px;
  border-bottom: 1px solid #ddd;
  display: inline-block;
  padding-right: 1em;
}

.message-body {
  margin: 20px;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

.message-actions {
  margin-right: 20px;
}

.compose-body {
  height: 20em;
}