<!DOCTYPE html>
<html>
  <head>
    <title>Chainmail</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/foundation.min.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    {% block css %}
    {% endblock %}
  </head>
  <body>
    {% block skipcontent %}
    <div id="content" class="row">
    {% block content %}
    {% endblock %}
    </div>
    {% endblock %}
    
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/foundation.min.js"></script>
    {% block js %}
    {% endblock %}
  </body>
</html>
