<!DOCTYPE html>
<html>
  <head>
    <title>Chainmail</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/inbox.css" />
  </head>
  <body>
  	<div id="content">
	    <div id="message-list-container" data-bind="style: { width: listPaneWidth() + '%' }">
	  		<div class="button primary">Compose</div>
	      <table id="message-table">
	        <thead>
	          <tr>
	            <th></th>
	            <th>From</th>
	            <th>Subject</th>
	            <th>Date</th>
	          </tr>
	        </thead>
	        <tbody data-bind="foreach: messages">
	          <tr data-bind="css: { active: $root.activeMessage() == $data }">
	            <td>
		            <input type="checkbox" />
	            </td>
	            <td>
	              <div class="hoverable">
	                <span data-bind="text: getHumanName(From)"> </span>
	                <span data-bind="text: getEmailAddress(From)" class="hover-show"> </span>
	              </div>
	            </td>
	            <td data-bind="text: Subject, click: $root.setActiveMessage"></td>
	            <td data-bind="text: Date"></td>
	          </tr>
	        </tbody>
	      </table>
	    </div>

	    <div id="message-pane" data-bind="style: { width: messagePaneWidth() + '%' }">
	    	<div data-bind="ifnot: activeMessage">
	    		No message selected
    		</div>

    		<!-- ko with: activeMessage -->
    		<h2 data-bind="text: Subject" class="subject-header"></h2>
    		<div class="message-info">
    			<span class="info-label">From: </span> 
    			<span data-bind="text: From"></span>

    			<span class="info-label">To: </span> 
    			<span data-bind="text: To"></span>
    		</div>
    		<pre data-bind="text: body" class="message-body"></pre>
    		<!-- /ko -->
	    </div>
    </div>
    <script type="text/javascript" src="/js/zepto.min.js"></script>
    <script type="text/javascript" src="/js/knockout-3.0.0.js"></script>
    <script type="text/javascript" src="/js/sjcl.js"></script>
    <!-- We need the big number library to do our custom ElGamal operation -->
    <script type="text/javascript" src="/js/sjcl.bn.js"></script>
    <script type="text/javascript">
      function InboxModel() {
        var self = this

        self.activeMessage = ko.observable(null)
        self.messages = ko.observableArray()
        self.messagePaneWidth = ko.observable(50)

        self.listPaneWidth = ko.computed(function() {
        	return 100 - self.messagePaneWidth()
        })

        self.addMessage = function(message) {
          self.messages.unshift(message)
        }

        self.setActiveMessage = function(message) {
        	self.activeMessage(message)
        }
      }
      var viewModel = new InboxModel()
      ko.applyBindings(viewModel)

      X = "AICxV/iefCH6D7LCr+iQBIjzrCM2CZcT39VAqCUcJsfg"
      x = sjcl.bn.fromBits(sjcl.codec.base64.toBits(X))
      P = "AMP1dAI9SD68MgN50pCx8qtZUYywqflFLCc0jBbR3nZL"
      p = sjcl.bn.fromBits(sjcl.codec.base64.toBits(P))

      function elGamalDecrypt(block, privKey) {
        // Pretty much a line for line transliteration of BC's ElGamal decrpytion
        var inBitLength = sjcl.bitArray.bitLength(block),
          in1 = sjcl.bitArray.bitSlice(block, 0, inBitLength/2),
          in2 = sjcl.bitArray.bitSlice(block, inBitLength/2, inBitLength),
          gamma = sjcl.bn.fromBits(in1),
          phi = sjcl.bn.fromBits(in2),
          result = gamma.powermod(p.sub(1).sub(x), p).mul(phi).mod(p)

          return result.toBits()
      }

      function parse2822Message(rawMessage) {
        /* Takes a raw string representing an email per the RFC 2822 spec
        and returns a simple, serializable, object containing each header as a
        propery and message content in a special `body` property */
        var parsedMessage = {},
          parts = rawMessage.split('\r\n\r\n')

        if (parts.length < 2) {
          throw { name: 'ParseError', message: 'Empty body or empty message'}
        }

        var headers = parts[0].split('\r\n'),
          body = parts.slice(1).join('\r\n\r\n')

        for (var i=0; i<headers.length; i++) {
          var parts = headers[i].split(':'),
            name = parts[0].trim(),
            value = parts.slice(1).join(':').trim()

          parsedMessage[name] = value
        }

        parsedMessage.body = body

        return parsedMessage
      }

      $.getJSON('/messages', function(data) {
        for (var i=0; i<data.length; i++) {
          var message = data[i],
            cipherKey = sjcl.codec.base64.toBits(message.aes_key),
            AESKey = elGamalDecrypt(cipherKey, null),
            cipherText = sjcl.codec.base64.toBits(message.data),
            iv = sjcl.codec.base64.toBits(message.iv),
            cipher = new sjcl.cipher.aes(AESKey),
            result = sjcl.mode.ccm.decrypt(cipher, cipherText, iv, [], 64)
            
          viewModel.addMessage(parse2822Message(
            sjcl.codec.utf8String.fromBits(result)))
        }
      })

      function getHumanName(s) {
        return s.match(/^(.+?) <.+>$/)[1]
      }

      function getEmailAddress(s) {
        return s.match(/^.+ <(.+?)>$/)[1]
      }
    </script>
  </body>
</html>