<!DOCTYPE html>
<html>
  <head>
    <title>Login | Chainmail</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Login</h1>
      <form action="/login" method="POST">
        <label>
          <span class="input-text">Username</span>
          <input type="email" name="address" />
        </label>
        <label>
          <span class="input-text">Password</span>
          <input type="password" name="password" />
        </label>
        <input type="submit" value="Login" />
    </div>
  </body>
</html>

