{% extends "webmail/templates/base.html" %}

{% block css %}
<style>
  #login-container {
    margin-top: 10%;
  }
</style>
{% endblock %}

{% block content %}
<div id="login-container" class="small-12 medium-4 medium-offset-4 columns panel">
  <h1>Login</h1>

  <form action="/login" method="POST">
    <label>
      <span class="input-text">Username</span>
      <input type="email" name="address" />
    </label>
    <label>
      <span class="input-text">Password</span>
      <input type="password" name="password" />
    </label>
    <input type="submit" value="Login" />
  </form>
</div>
{% endblock %}

